# Would hate to have the output file in the repo
dist/
# Ignore the config file
config.json
# We should upload node_modules tbh
node_modules
# Who even uses this
package-lock.json
# in here be cause i write test code in it a lot pls ignore this one
test.js

# F u macOS
.DS_Store